<html>
 <head>
   <style>
      .세일{
         padding-top:20px;
         padding-bottom:30px;
         padding-right:10px;
         padding-left:10px;
         background-color :#f5f5f5;
      }
   </style>
 </head>
 <body>
 
    <h1>이것이 세일 목록들 입니다.</h1>

    <a href="/홈페이지/make">세일 작성하기</a>

    {% for 인간 in 사람키 %}
      <div class="세일">
     <a href="/홈페이지/{{인간.pk}}"> {{인간.last_name}}  {{인간.first_name}}   
      , 나이는 {{인간.age}}세
     </a>
      </div>
         <br/>
    {% endfor %}

 </body>
 </html>
