<html>
 <head>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
      <style type="text/tailwindcss">
        @theme {
          --color-clifford: #da373d;
        }
      </style>
    </head>
 </head>
 <body>
 


<div class="max-w-7xl mx-auto   bg-opacity-75 ">
{% include "메뉴.html" %} 

{% block content %}

{% endblock  %} 
</div>


{% include "프로그램.html" %} 




 </body>
 </html>
